<h1 class="well"><%= link_to "Alpha-Blog", root_path, class: "a-unstyled" %></h1>

  <div class="container">
    <%= image_tag 'nate.jpg', class: "img-rounded thumbnail" %>
    <h2><%= link_to "Nate Lipp", "https://github.com/Nalipp/alpha-blog", :target => "_blank" %></h2>
  </div>
