<h1 class="well"><%= link_to "Code Tree", root_path, class: "a-unstyled" %></h1>

  <div class="container">
    <%= image_tag 'nate.jpg', class: "img-rounded thumbnail" %>
    <h2>Nate Lipp</h2>
  </div>
