<div class="fullscreen background img-responsive">
  <div class="row">
    <div class"col-xs-12">
      <h1 class="introSpace"></h1>
      <h1 class="first-giant mainContent">Alpha</h1>
    </div>
      <h1 class="second-giant mainContent">Blog</h1>
      <h1 class="simple mainContent">A place to share and learn about code</h1>
      <div id="buttons-custom">
        <%= link_to "sign up", signup_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "login", login_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "look around", articles_path, class: "btn btn-primary btn-lg" %>
      </div>
      </div>
    </div>
  </div>
</div>
